/* main container */
body {
	font-family: Calibri,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: DeepPink;
	background-color: #222;
	margin: 0 0 0 0px;
	overflow: hidden;
}
.container{
	right:0px;
	top:0px;
	z-index:-100;
	background-size: cover;
	width:100%;
	height:100%;
	position: fixed;
	left:0px;
	background-color: black;
}
audio {
    display:none;
}
div#content {
	border: 5px solid DeepPink;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.5);
	float: left;
	position: fixed;
	text-align: center;
	top: 0px;
	font-weight: bold;
	left: 40%;
	margin: 16px 0px 0px 16px;
	padding: 8px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
}
div#click {
	position: fixed;
	color: DeepPink;
	top: 1%;
	text-align: right;
	font-weight: bold;
	right: 1%;
}
div#click:hover {
	color: white;
}
a, a:visited {
	color: DeepPink;
	text-decoration: none;
}
a:hover {
	color: white;
}
.tear {
    text-align: center;
}
.tear span {
    display: inline-block;
    width: 62px;
    height: 62px;
	margin: -120px 40px 54px  -34px;
	background:url("cry.png");
    
    -webkit-animation: tear 14s infinite  linear;
}
.tear span:nth-child(1) {
    -webkit-animation-delay: 1.3s;
}
.tear span:nth-child(2) {
    -webkit-animation-delay: 3.16s;
}
.tear span:nth-child(3) {
    -webkit-animation-delay: 6.4s;
}
.tear span:nth-child(4) {
    -webkit-animation-delay: 9s;
}
.tear span:nth-child(5) {
    -webkit-animation-delay: 3s;
}
.tear span:nth-child(6) {
    -webkit-animation-delay: 15s;
}
.tear span:nth-child(7) {
    -webkit-animation-delay: 3.48s;
}
.tear span:nth-child(8) {
    -webkit-animation-delay: 6.16s;
}
.tear span:nth-child(9) {
    -webkit-animation-delay: 12.99s;
}
.tear span:nth-child(10) {
    -webkit-animation-delay: 3.32s;
}
.tear span:nth-child(11) {
    -webkit-animation-delay: 1.6s;
}
.tear span:nth-child(12) {
    -webkit-animation-delay: 9.8s;
}
.tear span:nth-child(13) {
    -webkit-animation-delay: 3s;
}
.tear span:nth-child(14) {
    -webkit-animation-delay: 12s;
}
.tear span:nth-child(15) {
    -webkit-animation-delay: 9.6s;
}
.tear span:nth-child(16) {
    -webkit-animation-delay: 18.33s;
}
.tear span:nth-child(17) {
    -webkit-animation-delay: 6s;
}
.tear span:nth-child(18) {
    -webkit-animation-delay: 12.33s;
}
.tear span:nth-child(19) {
    -webkit-animation-delay: 1.9s;
}
.tear span:nth-child(20) {
    -webkit-animation-delay: 3.64s;
}
.tear span:nth-child(21) {
    -webkit-animation-delay: 6.60s;
}
.tear span:nth-child(22) {
    -webkit-animation-delay: 18s;
}
.tear span:nth-child(23) {
    -webkit-animation-delay: 9.2s;
}
@-webkit-keyframes tear {
  0% {
    opacity: 1;
	transform: translate(0, 0px);
  }
  5% {
	transform: translate(-10px, 50px);
  }
  16% {
	transform: translate(10px, 160px);
  }
  30% {
	transform: translate(-10px, 300px);
  }
  43% {
	transform: translate(10px, 430px);
  }
  55% {
	transform: translate(10px, 550px);
  }
  69% {
	transform: translate(-10px, 690px);
  }
  86% {
	transform: translate(10px, 860px); 
  }
  90% {
	transform: translate(-10px, 900px);
  }
  100% {
    opacity: 0;
	transform: translate(10px, 900px);
  }
}
@keyframes pic1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pic2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@keyframes more1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@keyframes more2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
div#pic1 {
	position: fixed;
	bottom: 10px;
	right:3%;
	opacity: 0;
	animation: pic1 12s infinite  linear;
}
div#pic2 {
	position: fixed;
	bottom: 50px;
	left: 3%;
	opacity: 0;
	animation: pic2 12s infinite  linear;
	animation-delay: 5s;
}
div#pic3 {
	position: fixed;
	bottom: -4px;
	left: 0;
}
div#pic4 {
	position: fixed;
	bottom: -4px;
	right: 0;
}
div#more1 {
	position: fixed;
	top: 30%;
	right: 10%;
	opacity: 0;
	transform: rotate(-17deg);
	animation: more1 12s infinite  linear;
	animation-delay: 10s;
}
div#more2 {
	position: fixed;
	top: 30%;
	left: 10%;
	opacity: 0;
	transform: rotate(17deg);
	animation: more2 15s infinite  linear;
	animation-delay: 15s;
}
div#rip {
	position: fixed;
	top: 30%;
	left: 38%;
}
div#more3 {
	position: fixed;
	top: 10%;
	left: 10%;
	opacity: 0;
	transform: rotate(-17deg);
	animation: more2 12s infinite  linear;
	animation-delay: 3s;
}
div#rip2 {
	position: fixed;
	bottom: 10px;
	right:0px;
	opacity: 0;
	animation: pic1 12s infinite  linear;
}
div#rip3 {
	position: fixed;
	bottom: 8%;
	opacity: 0;
	animation: pic2 12s infinite  linear;
	animation-delay: 7s;
}

