body {
	font-family: Calibri,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: orange;
	background-color: #222;
	margin: 0 0 0 0px;
	overflow: hidden;
}
video#bgvid {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: -100;
    background-size: cover;
	opacity: 0.6;
}
div#content {
	border: 5px solid orange;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.5);
	float: left;
	position: fixed;
	text-align: left;
	top: 0px;
	font-weight: bold;
	left: 0px;
	margin: 16px 0px 0px 16px;
	padding: 8px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
}
div#list1 {
	border: 5px solid orange;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.5);
	float: left;
	position: fixed;
	text-align: left;
	top: 250px;
	width: 350px;
	left: 200px;
	font-weight: bold;
	margin: 16px 0px 0px 16px;
	padding: 8px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
}
div#list2 {
	border: 5px solid orange;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.5);
	float: left;
	position: fixed;
	text-align: left;
	top: 550px;
	width: 350px;
	left: 200px;
	font-weight: bold;
	margin: 16px 0px 0px 16px;
	padding: 8px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
}
div#list3 {
	border: 5px solid orange;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.5);
	float: left;
	position: fixed;
	text-align: left;
	top: 250px;
	width: 350px;
	left: 1000px;
	font-weight: bold;
	margin: 16px 0px 0px 16px;
	padding: 8px;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.75);
}
a, a:visited {
	color: orange;
	text-decoration: none;
}
a:hover {
	color: #e54c99;
}
a#mute {
	font-weight: bold;
}
.floater-right {
	position: fixed;
	bottom: 0px;
	text-align: right;
	margin: 0px 16px 16px 0px;
	right: 0px;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.75);
}
ul {
	position: fixed;
	top: 250px;
	left: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: rgba(0,0,0,0.5);
    border: 3px solid orange;
}
li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
	border: solid;
}
li a.active {
    background-color: Chocolate;
    color: black;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
div#gif1 {
	position: fixed;
	bottom: 0px;
}